h1 {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

a {
    font-family: "Poppins", sans-serifs;
}
main {
    background-color: #F3F3F3;
}

#ya {
    background-color: #F3F3F3;
}