# Dependencias de Node
node_modules/

# Archivos de entorno
.env
.env.local

# Archivos de configuración sensible
config.j

# Archivos de desarrollo
npm-debug.log
yarn-error.log

# Carpetas de subida de archivos
uploads/

# Archivos del IDE
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos compilados
dist/
build/

# Archivos de base de datos (no subir)
*.sql
*.dump