.font1 {
    font-family: 'Arial', sans-serif;
}
.font2 {
    font-family: 'Times New Roman', serif;
}
.font3 {
    font-family: 'Courier New', monospace;
}
.font4 {
    font-family: 'Brush Script MT', cursive;
}
.font5 {
    font-family: "Poppins", sans-serif;
}